*{
  margin: 0 auto;
  padding: 0;
}

body{
  background-color: #343A40;
  width: 100%;


}
.jmo_container{
  background-color: #343A40;
  width: 100%;



}
.marco{
  margin-top: 25px;
  margin-right: 250px;
  background-color: #30494E;
  width: 500px;
  /* border: rgb(137, 15, 14) 10px solid; */
  border-radius: 1;
  font-family:'Lato', sans-serif;
  color: rgb(184, 184, 184);
}
textarea{
  max-width: 250px;
  resize: vertical;
}
input{
  width: 200px;
}
p:focus{
  background-color: blue;
}
p:hover{
  text-decoration: underline;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  }
.botonDeRegistro a{
    display: flex;
    text-align: left;
    color: rgba(0, 0, 0, 0.9); 
    text-decoration: none;
    color: white;
}
.jmo_titulo{
  color:white;
}
